<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
    <link href="//db.onlinewebfonts.com/c/207d3f57810bef8d49e2f1b5f1722fb2?family=Purista" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/css/style_carritoCompras.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href=".vscode">
    
    <title>Carrito producto</title>
</head>

<body>
    <header>
        <div class= "header_contacto">
            <div class="direccion">
                <span>Av. Monroe 860, C1428 - CABA - Argentina</span>    
            </div>
            <div class="telefono_correo">
                <span>Tel: 11-1111-1111</span>
                <span>e-mail: info@akme.com.ar</span>
            </div>
        </div>
        <section class="top_header">
            <figure class="logo">
                <a href="/"><img src="/images/logo-akme-safety.png" alt="logo akme"></a>
            </figure>

            <form action="#" method="GET">
                <input type="text" class ="input" placeholder="Buscar productos, marcas y más">
                <button class="submit"><i class="fa fa-search"></i></button>
            </form>
            <div class="top_icons">
                <a href="/register"><i class="fas fa-sign-in"></i></a>
                <a href="/carritoCompras"><i class="fas fa-shopping-cart"></i></a>
            </div>
        </section>
        <div>
            <nav>
                <ul class= "navbar">
                    <a href="#"><li>HOME</li></a>
                    <a href="#"><li>PRODUCTOS</li></a>
                    <a href="#"><li>CONTACTO</li></a>
                </ul>
            </nav>
        </div>
    </header>

 <main>

    <section class="main-carrito">
        <h2>CARRITO DE COMPRA<i class="fa-solid fa-cart-shopping"></i></h2>
                     <section class="detalle-carrito">
                     <div class="carrito-table-container">
                           <table class="carrito-table">
                        <thead>    
                            <tr>
                                 <td class="carrito-table-image">Tu producto</td>
                                 <td class="carrito-table-description">Nombre de producto</td>
                                 <td class="carrito-table-price">Precio</td>
                                 <td class="carrito-table-quantity">Cantidad</td>
                                 <td class="carrito-table-total">Total</td>
                                 <td class="carrito-table-delete">Borrar</td>
                            </tr>
                        </thead>
               <tbody>
                     <tr>
                        <td class="carrito-table-image"><img src= "/images/img-mascara-fullface.jpg" alt="Imagen de producto"></td>
                        <td class="carrito-table-description"><p>Mascara Full Face</p></td>
                        <td class="carrito-table-price">$ 28.528</td>
                        <td class="carrito-table-quantity"><input type="number" class="product-quantity" name="product-quantity" placeholder="1"></td>
                        <td class="carrito-table-total">$ 28.528</td>
                        <td class="carrito-table-delete"><a href="#"><i class="fa fa-trash"></i></a></td>
                    </tr>
                    <tr>
                        <td class="carrito-table-image"><img src="/images/img-filtro-201b2.jpg" alt="Imagen de producto"></td>
                        <td class="carrito-table-description"><p>Repuesto de mascara de gas</p></td>
                        <td class="carrito-table-price">$ 900</td>
                        <td class="carrito-table-quantity"><input type="number" class="product-quantity" name="product-quantity" placeholder="1"></td>
                        <td class="carrito-table-total">$ 900</td>
                        <td class="carrito-table-delete"><a href="#"><i class="fa fa-trash"></i></a></td>
                    </tr>
                </tbody>    
            </table>
                    </div>
        <div class="carrito-bottom">
            <div class="total-price-container">
                <div class="total-price">
                    <p> Precio total : $ 29,428</p>
                </div>
            </div>
            <div class="return">
                <p><a href="/"><i class="fa fa-arrow-left"></i> ¡Continuar comprando!</a></p>
            </div>
            <div class="confirm-carrito">
                <p><a href="#">Confirma tu compra</a></p>
            </div>
        </div>
                     </section>
    </section>

</main>


<footer>
    <div class="container">
        <img class="logofooter" src="/images/AKME.png" alt="">
        <div class="acerca">
            <h3>ACERCA DE</h3>
                <ul class="footer">
                    <a href="#"><li>Quienes Somos</li></a>
                    <a href="#"><li>Historia</li></a>
                    <a href="#"><li>Relaciones Institucionales</li></a>
                </ul>
        </div>
          <div class="ayuda">
            <h3>AYUDA</h3>
                <ul class="footer">
                    <a href="#"><li>Ayuda con tu compra</li></a>
                    <a href="#"><li>FAQ</li></a>
                    <a href="#"><li>Reimpresion de certificados</li></a>
                </ul>
        </div>
        <div class="contacto">
            <h3>CONTACTO</h3>
            <ul class="redes">
                <a href="https://www.facebook.com"><li><i class="fab fa-facebook-f"></i></li></a>
                <a href="https://www.instagram.com"><li><i class="fab fa-instagram"></i></li></a>
                <a href="tel:+541111111111"><li><i class="fab fa-whatsapp"></i></li></a>
                <a href="mailto:info@akme.com.ar"><li><i class="far fa-envelope"></i></li></a>
            </div>
    </div>
    </div>
<div class="copyright">
    <p class = "copyright"><span>© 2022 AKME SAFETY PRODUCTS S.A.</span> - Todos los derechos reservados</p> 
</div>
</footer> 

    </body>
    </html>