<!DOCTYPE html>

<!-- Head -->
<%- include('./partials/head.ejs') %> 

<body>

    <!-- Header -->
    <%- include('./partials/header.ejs') %> 

    <!-- Navbar (sit on top) -->
    <%- include('./partials/nav.ejs') %>     

    <main class="main-home">
        <section class="categorias-principales">
            <h3>Categorias principales</h3>
            <div class="products">
                <article>
                    <figure>
                        <img src="/images/img-detector-tubes-ph350.jpg" class="product_img" width="250px"
                            alt="tubos_detectores">
                    </figure>
                    <div class="main-article">
                        <h4 class="description">Tubos detectores</h4>
                    </div>
                </article>
                <article>
                    <figure>
                        <img src="/images/img-filtro-201b2.jpg" class="product_img" width="250px"
                            alt="filtros__m치scaras">
                    </figure>
                    <div class="main-article">
                        <h4 class="description">Filtros para m치scaras</h4>
                    </div>
                </article>
                <article>
                    <figure>
                        <img src="/images/img-mascara-fullface.jpg" class="product_img" width="250px"
                            alt="m치scara_fullface">
                    </figure>
                    <div class="main-article">
                        <h4 class="description">Protecci칩n respiratoria</h4>
                    </div>
                </article>
            </div>

        </section>
    </main> 

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>     
    
</body>
</html>